
// add option error

.add-option-error {
    color: $app-lavender;
    font-style: italic;
    font-size: $small-size;
    padding: 0 $medium-size;
    margin: $small-size 0 0 0;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $medium-size;
    margin-top: 10px;
}

.add-option__input {
    background: $navy-ish;
    border: none;
    border-bottom: 3px solid darken($navy-ish, 10%);
    color: white;
    flex-grow: 1;
    font-size: $medium-size;
    margin: 0 0 $small-size 0;
    // margin-right: $small-size;
    padding: $small-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
        margin: 0;
    }

    .add-option__input {
        margin: 0 $small-size 0 0;
    }
}