{
    "presets": [
        ["@babel/preset-env"],
        ["@babel/preset-react"]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties"]
    ]
}

//Presets can act as an array of Babel plugins or even a sharable options config