// sizing: px, rem

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: lighten($navy-ish, 4%);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}