// sizing: px, rem

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
background: $navy-ish;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}