// Colors

$dark-purple: #20222b;
$black: #0D0A0B;
$navy-ish: rgb(38, 32, 53);
$blue: #3C4251;
$light-blue: #464B5E;
$app-purple: #8357C5;
$app-lavender: #A499B3;


// Font sizing
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;
